<footer>
  <p>Copyright &copy; <%= Time.now.year %> <%= link_to 'Cary Yang', 'http://caryyang.me/' %>. Created for <%= link_to 'CMU', 'http://www.cmu.edu/index.shtml' %>'s <%= link_to '15-396', 'http://www.contrib.andrew.cmu.edu/~nkatariy/15396/index.html' %>.<br>
    This website is built with <%= link_to 'Middleman', 'http://middlemanapp.com/' %> and hosted on <%= link_to 'Github Pages', 'http://pages.github.com/' %>.</p>
</footer>